body {
  background: #ddd;
}

section {
  background: #eee;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2rem;
  margin: 1rem 0;
}

.primaryColor {
  width: 5rem;
  height: 5rem;
  background: #dc2626;
  margin: 1rem 0;
}

.secundaryColor {
  width: 5rem;
  height: 5rem;
  background: #5c1010;
  margin: 1rem 0;
}

.desktop,
.mobile {
  width: 100%;
  border: 2px solid #5c1010;
  padding: 1rem;
  background: #dc2626;
}

.desktop img {
  width: 100%;
}

.mobile {
  display: flex;
  gap: 2rem;
}

.mobileImg {
  height: 40rem;
}

.mobileMenu {
  height: 16rem;
}
