body {
  height: 100%;
  margin: 0;
  padding: 0;

  background: var(--background-light);
  color: var(--text-light);
}

.darkMode {
  background: var(--background-dark);
  color: var(--text-dark);
}

header {
  width: 100%;
  background: var(--primary-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: #fff;
}

header img {
  width: 5rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header button {
  background: #22d3ee;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.menu {
  background: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

#menuBtn {
  background: none;
  border: none;
  width: 3.5rem;
  cursor: pointer;
}

#menuBtn img {
  width: 100%;
  visibility: none;
  display: none;
}

#menuBtn .visible {
  visibility: initial;
  display: block;
}

.menuClose {
  visibility: none;
  display: none;
}

nav {
  width: 100%;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav ul li {
  padding: 1rem;
  text-align: center;
  background: #222;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.titleContent {
  display: flex;

  border-bottom: 1px solid #ccc;
  margin: 0 2rem;
  padding-bottom: 0.5rem;
}

h2 {
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#home {
  background: #835dc1;
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  max-width: 550px;
  width: 90%;
  margin: 2rem auto;
}

.header {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  color: #fff;
}

.card .content {
  padding: 1.5rem;
}

.card .content ul {
  gap: 1rem;
  font-weight: 600;
  flex-direction: column;
}

footer {
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem 0;
  flex-direction: column;
  gap: 1rem;
}

.lastMode {
  color: #22d3ee;
}
